
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

.calculator {
  width: 470px;
  height: auto;
  background-color: black;
  margin: 150px auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
  color: white;
  font-size: 70px;
  text-align: end;
  padding-top: 20px;
  word-wrap: break-word;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: white;
  border-radius: 50px;
  padding: 28px 30px;
  width: 22%;
  margin: 10px 6px;
  font-size: 30px;
  background-color: rgba(128, 128, 128, 0.372);
  cursor: pointer;
}
.button:active {
  transform: translateY(3px);
}
.button:hover {
  background: rgb(63, 63, 63);
}

.zero-btn {
  padding: 30px 190px 26px 20px;
}

.btn-green {
  background-color: rgb(142, 219, 26);
  color: black;
}
.btn-green:hover {
  background-color: rgb(102, 169, 2);
}

.btn-gray {
  background-color: grey;
}
.btn-gray:hover {
  background-color: rgb(179, 177, 177);
}

@media (max-width: 520px) {
  .calculator {
    width: 350px;
    padding: 5px;
  }

  .display {
    font-size: 28px;
  }

  .button {
    margin: 0 auto;
    font-size: 20px;
  }
  .zero-btn{
    padding: 30px 160px 26px 20px;
  }
}